body {
background: whitesmoke;
color: black;
font-family: 'Lora', serif;
}

h1 {
	color: #5902EC;
	font-family: 'Cookie', cursive;
	font-weight: 700;
}

h2 {
	color: #E04DB0;
	font-family: 'Lora', serif;
	font-weight: 500;
}


a {
	font-family: 'Cookie', cursive;
	color:  blue;
	font-weight: 800;
}
a:hover {

	color:  #F2C9E1;
}


div {
	background: ;
	border: ;
	margin: ;
}

/*custom design with class (99% of your design)*/
.container {
width: 700px;
margin: 40px auto;
}

@media (max-width: 760px) {

.container {
	width: 600px;
}
}


@media (max-width: 500px) {

.container {
	width: 400px;
}
}




.card-white {
background: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}

.img-circle {
border-radius: 50%;
}

.btn-blue {
background-color: blue;
color: white;
padding: 10px 20px;
border-radius: 4px;
}

.btn-blue:hover {
background-color: black;
color: white;
}

.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li{
display: inline;
padding: 20px;
}

.list-inline i:hover {
color: black;
}

/*Design adjustments using id (1% design remaining)*/
#introduction p {
margin-bottom: 40px;
}




